<!DOCTYPE html>
<html>
<title>Predicting Winning Team</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/index.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<body>
<center>
	<h1>
		Predict Winning Team
	</h1>	
		<div class="header-content">
			<p>
				This app predicts whether Home or Away team is going to win/lose or there will be a draw for English Premier League matches. 
			</p>
		</div>
	<hr>
	<button value="Refresh Page" onClick="window.location.href=window.location.href">Predict New</button>
	
	<div class="prediction">
		<p>
			Result: {{ result }}
		</p>
		    <!-- {% if result == "H" %}
		    	<h3><strong>Home team</strong> is going to win</h3>
			{% endif %}
			
			{% if result == 'A'%}
		    	<h3><strong>Away team</strong> is going to win</h3>
			{% endif %}
			
			{% if result == 'D'%}
		    	<h3>There will be a tie.</h3>
			{% endif %} -->
	  </div>
	  <hr>
		<div class="premier-imge">
		<form action="{{ url_for('main') }}" method="POST">

		    Full Time Home Team Goals:
		    <input name="FTHG" type="number" required>
		    <br> 
		    
		    Full Time Away Team Goals:
		    <input name="FTAG" type="number" required>
		    <br>
		    
		    Half Time Home Team Goals:
		    <input name="HTHG" type="number" required>
		    <br>
		    
		    Half Time Away Team Goals:
		    <input name="HTAG" type="number" required>
		    <br>
		    
		    Home Team Shots:
		    <input name="HS" type="number" required>
		    <br>
		    
		    Away Team Shots:
		    <input name="AS" type="number" required>
		    <br>
		    
		    Home Team Shots on Target:
		    <input name="HST" type="number" required>
		    <br>
		    
		    Away Team Shots on Target:
		    <input name="AST" type="number" required>
		    <br>
		    
		    Home Team Fouls Committed:
		    <input name="HF" type="number" required>
		    <br>
		    
		    Away Team Fouls Committed:
		    <input name="AF" type="number" required>
		    <br>
		    
		    Home Team Corners:
		    <input name="HC" type="number" required>
		    <br>
		    
		    Away Team Corners:
		    <input name="AC" type="number" required>
		    <br>
		    
		    Home Team Yellow Cards:
		    <input name="HY" type="number" required>
		    <br>
		    
		    Away Team Yellow Cards:
		    <input name="AY" type="number" required>
		    <br>
		    
		    Home Team Red Cards:
		    <input name="HR" type="number" required>
		    <br>
		    
		    Away Team Red Cards:
		    <input name="AR" type="number" required>
		    
		    <input id="submit-btn" class="submit" value="Predict" type="submit" >

		</form>
		<br>
		</div>
</center>

</body>
</html>